{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>SUJAE'S BLOG</title>
    <!-- BOOT STRAP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

    <header>
        <nav>
            <ul id="header_ul">
                <li id="home_but"><a href="http://127.0.0.1:8000/"> Sujae's Blog</a></li>
                <li><a href=""> first</a></li>
                <li><a href=""> second</a></li>
                <li><a href=""> third</a></li>
                <li><a href=""> fourth</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <aside>aside</aside>

        <section>
                {% block content %}
                {% endblock %}
        </section>
    </main>

    <footer>
        footer
    </footer>

</body>
</html>