{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>SUJAE'S BLOG</title>
    <!-- BOOT STRAP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}"/>
</head>
<body>

<header class="header-down">
    <nav>
        <ul id="header_ul">
            <li id="home_but"><a href="/"> Sujae's Blog</a></li>
            <li><a href="/practice/"> first</a></li>
            <li><a href=""> second</a></li>
            <li><a href=""> third</a></li>
            <li><a href=""> fourth</a></li>
        </ul>
    </nav>
</header>


<section>
    {% block aside %}
    <aside>aside</aside>
    {% endblock %}

    {% block content %}
    {% endblock %}
</section>

<footer>
    footer
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>

{% block javascript %}{% endblock %}
</body>
</html>